/._.DS_Store
*.pyc
*.ipynb
data/dicts/
.Rhistory
baselines/
layers/*.pyc
models/*.pyc
utils/*.pyc
._*
.DS_Store
.idea/
layers/discriminator_origin.py
layers/._*
layers/*.pyc
layers/readout_origin.py
best_dgi.pkl

results/
/venv/
/*.txt
/*.pkl
/data/motif_instances/
/data/motif_json/blogmotif.json

/utils/vflib/graph.txt
/utils/vflib/instances.txt
/utils/vflib/motif.txt
/data/citeseer/citeseer_LCC.cites
/data/cora/cora_LCC.cites
